@import 'src/index';

.modal-confirmation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    .content {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .controls {
        display: flex;
        justify-content: space-between;

        .cancel,
        .modal {
            width: 45%;
        }
    }
}
